@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  border-radius: 20px;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* signin şifre girme yeri için */
.character--selected {
  position: relative;
}
 
.character--selected:not(.character--filled) {
  opacity: .8;
}
 
.character--selected:not(.character--filled)::after {
  content: "";
  width: 1px;
  height: 25px;
  background-color: #333;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 1s infinite step-end;
}
 
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/** ---- */

/* Add this in your global CSS file */
.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thumb-blue-500 {
  scrollbar-color: #6b21a8 #e5e7eb; /* For Firefox */
}

.scrollbar-thumb-blue-500::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thumb-blue-500::-webkit-scrollbar-thumb {
  background-color: #6b21a8;
  border-radius: 9999px;
}

.scrollbar-thumb-blue-500::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}
